<!DOCTYPE html>
<html>
  <head>
    <title>Django Girls blog</title>
  </header>
  <body>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
      <time>published: 14.04.2022, 11:57</time>
      <h2><a href="">My first post</a></h2>
      <p>Obssed about time...</p>
    </article>

    <article>
      <time>published: 14.04.2022, 11:57</time>
      <h2><a href="">My first post</a></h2>
      <p>Obssed about time...</p>
    </article>
  </body>
</html>


  
